*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
backend/exported_models/data
backend/exported_models/saved/variables/variables.data-00000-of-00001
backend/exported_models/saved/variables/variables.index
backend/exported_models/saved/fingerprint.pb
backend/exported_models/saved/saved_model.pb
